*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
	text-rendering: optimizeSpeed;
	font-family: "Poppins", sans-serif;
	font-family: "Roboto", sans-serif;
}

html {
	scroll-behavior: smooth;
}
img {
	max-width: 100%;
	display: block;
}

.hero {
	background: url(../images/);
}

.customGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}
